/* Base styles (xs - extra small, default for all sizes) */

@media (min-width: 360px) {
  .con-sm-12 {
    width: 100%;
  }
  .pad-hor-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mar-hor-1 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 576px) {
  .con-sm-12 {
    width: 100%;
  }
  .pad-hor-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mar-hor-1 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .pad-ver-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mar-ver-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1400px) {
  .con-xxl-5 {
    width: 5%;
  }
  .con-xxl-15 {
    width: 15%;
  }
  .con-xxl-20 {
    width: 20%;
  }
  .con-xxl-25 {
    width: 25%;
  }
  .con-xxl-40 {
    width: 40%;
  }
  .con-xxl-50 {
    width: 50%;
  }
  .con-xxl-60 {
    width: 60%;
  }
  .con-xxl-75 {
    width: 75%;
  }
  .con-xxl-85 {
    width: 85%;
  }
  .con-xxl-80 {
    width: 80%;
  }
  .con-xxl-90 {
    width: 90%;
  }
  .pad-hor-30 {
    padding-right: 15%;
    padding-left: 15%;
  }
  .pad-hor-40 {
    padding-right: 20%;
    padding-left: 20%;
  }
  .pad-hor-60 {
    padding-right: 30%;
    padding-left: 30%;
  }
  .pad-hor-auto {
    padding-right: auto;
    padding-left: auto;
  }
  .mar-hor-auto {
    margin-right: auto;
    margin-left: auto;
  }
  .mar-hor-30 {
    margin-right: 15%;
    margin-left: 15%;
  }
  .mar-hor-40 {
    margin-right: 15%;
    margin-left: 15%;
  }
  .mar-hor-60 {
    margin-right: 30%;
    margin-left: 30%;
  }
  .pad-ver-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mar-ver-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
