@import url("header.css");
@import url("common.css");
@import url("con.css");

/* 
* @Containers
*/
.con-50 {
  width: 50%;
}
.flex-center {
  display: flex;
  align-items: center;
}
.full-container,
.full-con {
  width: 100%;
  height: 100%;
}
.book-container {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
.doc-settings-container {
  width: 20%;
}
.home-container {
  width: 100%;
}
.form-container {
  margin-left: auto;
  margin-right: auto;
  min-height: 50%;
}
.documents-container {
  width: 80%;
}
.cards-con {
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  gap: 16px;
  margin-left: 5%;
  margin-right: 5%;
}
.document-nav-container {
  width: 15%;
}
.document-view-container {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 100px;
  min-height: 100vh;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/* 
* @Form
* Form elements 
*/
label {
  /* font-weight: bold; */
  font-size: 16px;
  color: #303030;
}
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  background: var(--LG-to-right);
  color: #212529;
}
input[type="file"]::file-selector-button {
  font-weight: bold;
  padding: 8px 18px 8px 18px;
  text-align: center;
  border-radius: 20px;
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  margin-right: 10px;
}
input:focus,
input:hover,
textarea:focus {
  border: 1px solid #4da6ff;
  outline: none;
}

button {
  font-weight: bold;
  padding: 8px 24px 8px 24px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 20px;
}
button:focus {
  outline: none;
}
.black-bg {
  background-color: #2d2d2d;
  color: white;
}
.white-bg {
  background-color: #ffffff;
  color: #2d2d2d;
}
button:hover {
  cursor: pointer;
}
.button-none {
  border: none;
  background-color: transparent;
  color: var(--blue);
  font-size: 14px;
}
.button-none:hover {
  color: var(--hover-blue);
  cursor: pointer;
}
.delete-button-none {
  border: none;
  background-color: transparent;
  color: red;
}
.btn-action {
  border: 1px solid #dddddd;
  padding: 3px;
  border-radius: 3px;
  color: #dddddd;
}
.btn-action:hover {
  cursor: pointer;
  border: 1px solid #2d2d2d;
}

.form-section {
  margin-top: 14px;
  margin-bottom: 14px;
}
.input-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  flex: 1;
}
.group-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 8px 5px;
  background-color: #f4f4f4;
}
.group-btn:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.border {
  border: 1px solid #e2e2e2;
}

/* 
* @Card
*/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  width: 18%;
}
.section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}
.empty-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.page-loader {
  height: 280px;
}
.card-image {
  height: 190px;
  background-color: #f0f0f0;
}
.card-body {
  padding: 10px;
  background-color: white;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.card-info {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.card-info .avatar {
  width: 30px;
  height: 30px;
  background-color: #cccccc;
  border-radius: 30px;
  margin-right: 10px;
}
.uinfo .uname {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 500;
}
.uinfo .time {
  font-size: 13px;
  color: #838383;
}
.card-l-title {
  width: 80%;
  height: 14px;
  border-radius: 3px;
  background-color: #e0e0e0;
  animation: shimmer 1s infinite linear;
}
.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #e0e0e0;
}

/** 
* @Navbar
*/

.top-navbar {
  display: flex;
  align-items: center;
  min-height: 55px;
  border-bottom: 1px solid #ccc;
  background-color: black;
}
.left-navbar {
  width: 15%;
  margin-top: 10px;
}
.top-navbar-container {
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
}
.nav-item {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: #2d2d2d;
}
.logo,
.nav-menu-btn {
  display: flex;
  align-items: center;
  height: 55px;
}
.app-menu {
  height: 55px;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.nav-list-items ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.nav-list-items ul li {
  padding: 10px;
  padding-left: 20px;
}
.nav-list-items ul li:hover {
  background-color: #f4f4f4;
}
.nav-list-items ul li a {
  text-decoration: none;
  color: black;
  display: block;
}
.create-button,
.profile-button,
.login-button {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.profile-button {
  width: 80px;
}
.create-button:hover .dropdown-content {
  display: block;
}
.profile-button:hover .profile-content {
  display: block;
}
.book-right-nav ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.book-right-nav ul li:hover {
  cursor: pointer;
}

/** @Side Navbar */
.list-item li {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}
.list-item li a {
  color: var(--nav-text);
  text-decoration: none;
  margin-left: 5px;
}
.list-item li a:hover,
.list-item li:hover,
.list-item li a:hover,
.list-item svg:hover {
  color: black;
  cursor: pointer;
}

/* 
* @Page
*/
.page-section {
  margin-bottom: 24px;
}
.section-nav {
  display: flex;
  flex-direction: row;
  padding: 2px 0px;
  color: #2d2d2d;
  font-size: 14px;
}
.chapter-nav {
  font-size: 1em;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.chapter-button-nav {
  padding: 2px 0px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
}
.section-button-nav {
  padding: 2px 0px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 16px;
}
.section-nav {
  padding-left: 10%;
  font-size: 1em;
}
.chapter-nav:hover,
.section-nav:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  color: #2d2d2d;
}
.active-nav {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding: 5px 0px;
  align-items: center;
}
.menu-nav:hover,
.menu-nav:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
}
.active-menu {
  background-color: var(--hover-dark);
}
.page-nav-icon {
  position: relative;
  top: 2px;
}
.p8_12 {
  padding: 8px 12px;
}
.p12 {
  padding: 12px;
}
.p10 {
  padding: 10px;
}
/*
* @Modal
*/

.modal-print {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 999; /* modal z-index*/
}

/* Modal Content/Box */

.modal {
  background-color: #fefefe;
  margin: 5% auto;
  width: 35%;
  border-radius: 12px;
}

.modal-md {
  background-color: #fefefe;
  margin: 5% auto;
  width: 50%;
  border-radius: 12px;
}

.modal-header {
  padding: 15px 15px 15px 35px;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 3px;
}
.modal-md-content-container {
  width: 100%;
}

.close-button {
  background: none;
  border: none;
  color: #0073e6;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

/* 
* @Global
*/
.cursor:hover {
  cursor: pointer;
}
.shadow:hover {
  box-shadow: var(--box-shadow);
}
/** Markdown */
pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

/* Style for code element */
code {
  font-family: "Courier New", Courier, monospace;
}
.form-content {
  margin-top: 1.5em;
}
.form-content .wmde-markdown {
  /* background: linear-gradient(to right, #ffffff, #ffffff); */
  background-color: #f8f9fa;
  padding: 10px;
}

@import url("navbar.css");
