:root {
  --d-bg: #292929;

  --d1: #121212;
  --d2: #1e1e1e;
  --d3: #232323;
  --d4: #252525;
  --d5: #272727;
  --d6: #2c2c2c;
  --d7: #2e2e2e;
  --d8: #333333;
  --d9: #363636;
  --d10: #383838;

  --dark-border: #636363;

  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #e02e2a;
  --red-700: #911e1b;
  --brand-purple: #ab68ff;
  --yellow-900: #4d3b00;
}

.dark,
.light .dark {
  --default-theme-submit-btn-bg: #fff;
  --default-theme-submit-btn-text: #000;
  --default-theme-secondary-btn-bg: #424242;
  --default-theme-secondary-btn-text: #fff;
  --default-theme-user-selection-bg: oklab(75.3343% -0.0485353 -0.1236 / 0.4);
  --default-theme-attribution-highlight-bg: #6e5400;
  --blue-theme-user-msg-bg: #003f7a;
  --blue-theme-user-msg-text: #f5faff;
  --blue-theme-submit-btn-bg: #0169cc;
  --blue-theme-secondary-btn-bg: #004f99;
  --blue-theme-secondary-btn-text: #f5faff;
  --blue-theme-user-selection-bg: oklab(62.5814% -0.0532435 -0.197972 / 0.6);
  --default-theme-entity-accent: #339cff;
  --green-theme-user-msg-bg: #00692a;
  --green-theme-user-msg-text: #edfaf2;
  --green-theme-submit-btn-bg: #00a240;
  --green-theme-secondary-btn-bg: #008635;
  --green-theme-secondary-btn-text: #edfaf2;
  --green-theme-user-selection-bg: oklab(68.3034% -0.166226 0.102662 / 0.6);
  --green-theme-entity-accent: #40c977;
  --yellow-theme-user-msg-bg: #916f00;
  --yellow-theme-user-msg-text: #fffbed;
  --yellow-theme-submit-btn-bg: #e0ac00;
  --yellow-theme-secondary-btn-bg: #ba8e00;
  --yellow-theme-secondary-btn-text: #fffbed;
  --yellow-theme-user-selection-bg: oklab(84.7886% 0.0119218 0.173144 / 0.5);
  --yellow-theme-entity-accent: #ffd240;
  --purple-theme-user-msg-bg: #532d8d;
  --purple-theme-user-msg-text: #f9f5fe;
  --purple-theme-submit-btn-bg: #8046d9;
  --purple-theme-secondary-btn-bg: #6b3ab4;
  --purple-theme-secondary-btn-text: #f9f5fe;
  --purple-theme-user-selection-bg: oklab(59.5965% 0.106744 -0.210896 / 0.6);
  --purple-theme-entity-accent: #ad7bf9;
  --pink-theme-user-msg-bg: #963c67;
  --pink-theme-user-msg-text: #fff4f9;
  --pink-theme-submit-btn-bg: #e04c91;
  --pink-theme-secondary-btn-bg: #ba437a;
  --pink-theme-secondary-btn-text: #fff4f9;
  --pink-theme-user-selection-bg: oklab(72.2423% 0.197093 -0.0195113 / 0.6);
  --pink-theme-entity-accent: #ff8cc1;
  --orange-theme-user-msg-bg: #923b0f;
  --orange-theme-user-msg-text: #fff5f0;
  --orange-theme-submit-btn-bg: #e25507;
  --orange-theme-secondary-btn-bg: #b9480d;
  --orange-theme-secondary-btn-text: #fff5f0;
  --orange-theme-user-selection-bg: oklab(69.5972% 0.142407 0.130968 / 0.6);
  --orange-theme-entity-accent: #ff8549;
  --black-theme-user-msg-bg: #ececec;
  --black-theme-user-msg-text: #000;
  --black-theme-submit-btn-bg: #fff;
  --black-theme-submit-btn-text: #000;
  --black-theme-secondary-btn-bg: #424242;
  --black-theme-secondary-btn-text: #fff;
  --black-theme-user-selection-bg: oklab(51.3794% -7.45058e-8 2.98023e-8 / 0.4);
  --black-theme-entity-accent: #cdcdcd;
}

.dark {
  --bg-primary: #212121;
  --bg-primary-inverted: #fff;
  --bg-secondary: #303030;
  --bg-tertiary: #414141;
  --bg-scrim: #0d0d0d80;
  --bg-elevated-primary: #303030;
  --bg-elevated-secondary: #181818;
  --bg-accent-static: #0285ff;
  --bg-status-warning: #4a2206;
  --bg-status-error: #4d100e;
  --border-default: #ffffff26;
  --border-heavy: #fff3;
  --border-light: #ffffff0d;
  --border-status-warning: #4a2206;
  --border-status-error: #4d100e;
  --text-primary: #fff;
  --text-secondary: #f3f3f3;
  --text-tertiary: #afafaf;
  --text-inverted: #0d0d0d;
  --text-inverted-static: #fff;
  --text-accent: #66b5ff;
  --text-status-warning: #ff9e6c;
  --text-status-error: #ff8583;
  --icon-primary: #e8e8e8;
  --icon-secondary: #cdcdcd;
  --icon-tertiary: #afafaf;
  --icon-inverted: #0d0d0d;
  --icon-inverted-static: #fff;
  --icon-accent: #66b5ff;
  --icon-status-warning: #ff9e6c;
  --icon-status-error: #ff8583;
  --interactive-bg-primary-default: #fff;
  --interactive-bg-primary-hover: #fffc;
  --interactive-bg-primary-press: #ffffffe5;
  --interactive-bg-primary-inactive: #fff;
  --interactive-bg-primary-selected: #fff;
  --interactive-bg-secondary-default: #fff0;
  --interactive-bg-secondary-hover: #ffffff1a;
  --interactive-bg-secondary-press: #ffffff0d;
  --interactive-bg-secondary-inactive: #fff0;
  --interactive-bg-secondary-selected: #ffffff1a;
  --interactive-bg-tertiary-default: #212121;
  --interactive-bg-tertiary-hover: #181818;
  --interactive-bg-tertiary-press: #0d0d0d;
  --interactive-bg-tertiary-inactive: #212121;
  --interactive-bg-tertiary-selected: #212121;
  --interactive-bg-accent-default: #013566;
  --interactive-bg-accent-hover: #003f7a;
  --interactive-bg-accent-muted-hover: #394a5b;
  --interactive-bg-accent-muted-context: #394a5b80;
  --interactive-bg-accent-press: #004f99;
  --interactive-bg-accent-muted-press: #40484f;
  --interactive-bg-accent-inactive: #013566;
  --interactive-bg-danger-primary-default: #e02e2a;
  --interactive-bg-danger-primary-hover: #fa423e;
  --interactive-bg-danger-primary-press: #ba2623;
  --interactive-bg-danger-primary-inactive: #e02e2a;
  --interactive-bg-danger-secondary-default: #fff0;
  --interactive-bg-danger-secondary-hover: #fff0;
  --interactive-bg-danger-secondary-press: #fff0;
  --interactive-bg-danger-secondary-inactive: #fff0;
  --interactive-border-focus: #fff;
  --interactive-border-secondary-default: #ffffff26;
  --interactive-border-secondary-hover: #ffffff26;
  --interactive-border-secondary-press: #fff3;
  --interactive-border-secondary-inactive: #ffffff1a;
  --interactive-border-tertiary-default: #ffffff1a;
  --interactive-border-tertiary-hover: #ffffff26;
  --interactive-border-tertiary-press: #ffffff1a;
  --interactive-border-tertiary-inactive: #ffffff1a;
  --interactive-border-danger-secondary-default: #fa423e;
  --interactive-border-danger-secondary-hover: #ff6764;
  --interactive-border-danger-secondary-press: #e02e2a;
  --interactive-border-danger-secondary-inactive: #fa423e;
  --interactive-label-primary-default: #0d0d0d;
  --interactive-label-primary-hover: #0d0d0d;
  --interactive-label-primary-press: #0d0d0d;
  --interactive-label-primary-inactive: #0d0d0d;
  --interactive-label-primary-selected: #0d0d0d;
  --interactive-label-secondary-default: #f3f3f3;
  --interactive-label-secondary-hover: #ffffffe5;
  --interactive-label-secondary-press: #fffc;
  --interactive-label-secondary-inactive: #f3f3f3;
  --interactive-label-secondary-selected: #f3f3f3;
  --interactive-label-tertiary-default: #cdcdcd;
  --interactive-label-tertiary-hover: #cdcdcd;
  --interactive-label-tertiary-press: #cdcdcd;
  --interactive-label-tertiary-inactive: #cdcdcd;
  --interactive-label-tertiary-selected: #cdcdcd;
  --interactive-label-accent-default: #99ceff;
  --interactive-label-accent-hover: #99ceff;
  --interactive-label-accent-press: #99ceff;
  --interactive-label-accent-inactive: #99ceff;
  --interactive-label-accent-selected: #99ceff;
  --interactive-label-danger-primary-default: #fff;
  --interactive-label-danger-primary-hover: #fff;
  --interactive-label-danger-primary-press: #fff;
  --interactive-label-danger-primary-inactive: #fff;
  --interactive-label-danger-secondary-default: #fa423e;
  --interactive-label-danger-secondary-hover: #ff6764;
  --interactive-label-danger-secondary-press: #e02e2a;
  --interactive-label-danger-secondary-inactive: #fa423e;
  --interactive-icon-primary-default: #0d0d0d;
  --interactive-icon-primary-hover: #0d0d0d;
  --interactive-icon-primary-press: #0d0d0d;
  --interactive-icon-primary-selected: #0d0d0d;
  --interactive-icon-primary-inactive: #0d0d0d;
  --interactive-icon-secondary-default: #f3f3f3;
  --interactive-icon-secondary-hover: #ffffffe5;
  --interactive-icon-secondary-press: #fffc;
  --interactive-icon-secondary-selected: #f3f3f3;
  --interactive-icon-secondary-inactive: #f3f3f3;
  --interactive-icon-tertiary-default: #cdcdcd;
  --interactive-icon-tertiary-hover: #cdcdcd;
  --interactive-icon-tertiary-press: #cdcdcd;
  --interactive-icon-tertiary-selected: #cdcdcd;
  --interactive-icon-tertiary-inactive: #cdcdcd;
  --interactive-icon-accent-default: #99ceff;
  --interactive-icon-accent-hover: #99ceff;
  --interactive-icon-accent-press: #99ceff;
  --interactive-icon-accent-selected: #99ceff;
  --interactive-icon-accent-inactive: #99ceff;
  --interactive-icon-danger-primary-default: #fff;
  --interactive-icon-danger-primary-hover: #fff;
  --interactive-icon-danger-primary-press: #fff;
  --interactive-icon-danger-primary-inactive: #fff;
  --interactive-icon-danger-secondary-default: #fa423e;
  --interactive-icon-danger-secondary-hover: #ff6764;
  --interactive-icon-danger-secondary-press: #e02e2a;
  --interactive-icon-danger-secondary-inactive: #fa423e;
  --utility-scrollbar: #fff3;
}
