:root {
  --dark-bg-1: #292929;

  --dark-bg-2: #121212;
  --dark-bg-2: #1e1e1e;
  --dark-bg-2: #232323;
  --dark-bg-2: #252525;
  --dark-bg-2: #272727;
  --dark-bg-2: #2c2c2c;
  --dark-bg-2: #2e2e2e;
  --dark-bg-2: #333333;
  --dark-bg-2: #363636;
  --dark-bg-2: #383838;

  --dark-border: #4d4d4d;
}
